@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css");

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 0;
  padding-top: 8%;
  row-gap: 0.2rem;
}

.liView {
  margin-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid whitesmoke;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.droped {
  margin-bottom: 0.8%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: pink;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  background-image: url("./assets/img/background.webp");
  background-position: center;
  background-repeat: no-repeat; /* Отключить повторение */
  height: 100vh; /* Занять всю высоту окна */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  position: relative;
  max-width: 1280px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.header {
  position: fixed;
  top: 1%;
  left: 3%;
  margin: 0 0;
  font-size: 1.4rem;
}

h2 {
  margin: 0 0;
}

.settings {
  position: fixed;
  top: 1%;
  right: 1%;
  margin: 0 0;
  font-size: 1.4rem;
  width: 12%;
  display: flex;
  flex-direction: row;
  background-color: pink;
  justify-content: space-between;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1 {
  font-size: 1.4rem;
}

.busket {
  position: relative;
  width: 17rem;
  height: 17rem;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 14%;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6%);
  }
}

@keyframes shadow-move {
  0%,
  100% {
    filter: drop-shadow(0 5em 1.2em #68686b94);
  }
  50% {
    filter: drop-shadow(0 6em 1.5em #68686b94);
  }
}

.busket .hippo {
  width: 90%;
  height: 90%;
  object-fit: contain;
  position: absolute;
  top: 5%;
  left: 5%;
  animation: float 3s ease-in-out infinite, shadow-move 3s ease-in-out infinite;
}

.busket .hippoNeitral {
  display: none;
  top: 8%;
}

.busket .hippoYes {
  display: none;
}

.busket .hippoNo {
  display: none;
}

li:hover,
li:active,
h1:hover,
h1:active,
button:hover {
  cursor: pointer;
}

.liView:hover {
  background-color: rgba(236, 166, 160, 0.7);
}

.endOfGameBackground {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 33, 31, 0.622);
}

.endOfGame {
  display: none;
  display: block;

  position: absolute;
  width: 100%;
  height: 88%;
  background-color: pink;
  top: 7%;
  border-radius: 15px;
  animation: setOpacity 0.4s ease-in-out;
}

@keyframes setOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.congratulationWrap {
  padding-top: 2.8%;
}

@keyframes shadow-move-end-game {
  0%,
  100% {
    filter: drop-shadow(0 2.5em 1.5em #68686b94);
  }
  50% {
    filter: drop-shadow(0 2.5em 1.5em #68686b94);
  }
}

.hippoEndOfGame {
  position: relative;
  width: 45%;
  margin: 0 auto;
  animation: float 10s ease-in-out infinite,
    shadow-move-end-game 10s ease-in-out infinite;
}

.congratulation {
  font-size: 1.6rem;
}

.congratulation:first-child {
  padding-bottom: 2%;
  font-size: 2.2rem;
}

.controlPanel {
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1.8rem;
  z-index: 2;
}

.controlPanel button {
  padding: 1.4% 2%;
  border-radius: 15px;
  font-weight: 600;
  color: #213547;
  transition: background-color 0.5s ease;
  border: 2px solid pink;
}

.controlPanel button:hover {
  /* background-color: rgb(237, 244, 141); */
  background: linear-gradient(
    to left bottom,
    rgb(237, 244, 141),
    rgb(201, 232, 237),
    rgb(237, 244, 141)
  );
}

.btnClose {
  background-color: transparent;
  border: none;
  position: absolute;
  width: 6%;
  /* height: 6%; */
  right: 3%;
  top: 3%;
  padding: 0 0;
}

.btnClose:hover {
  border-radius: 70%;
  background-color: rgb(237, 244, 141);
}

.btnClose img {
  position: relative;
  width: 100%;
  z-index: 2;
}

.btnClose img:hover {
  /* filter: brightness(0) saturate(100%) invert(92%) sepia(22%) saturate(759%)
    hue-rotate(11deg) brightness(105%) contrast(91%); */
  filter: brightness(0) saturate(100%) invert(94%) sepia(99%) saturate(3323%)
    hue-rotate(171deg) brightness(90%) contrast(84%);
}

.listOfAllowedFood {
  display: none;
}

.active {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 6%;
}

.active h2 {
  font-size: 2.8rem;
}

.active ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  justify-content: start;
  /* flex-wrap: wrap; */
  padding-top: 1rem;
  row-gap: 1rem;
  column-gap: 1.4rem;
  padding-left: 8%;
  margin-bottom: 4%;
}

.active h3 {
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  text-align: left;
  font-weight: 600;

  /* padding-left: 8%; */
}

.active li:last-child {
  /* background-color: #fff; */
  grid-column: 1 / -1;
}
